@page "/roles/create"
@using Microsoft.EntityFrameworkCore
@using UserManagmentSystem.Models.Entities
@inject IDbContextFactory<UserManagmentSystem.Data.AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Role</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Role" OnValidSubmit="AddRole" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="rolename" class="form-label">RoleName:</label> 
                <InputText id="rolename" @bind-Value="Role.RoleName" class="form-control" /> 
                <ValidationMessage For="() => Role.RoleName" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/roles">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Role Role { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddRole()
    {
        using var context = DbFactory.CreateDbContext();
        context.Roles.Add(Role);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/roles");
    }
}
