@page "/logout"
@using Microsoft.AspNetCore.Authentication

@inject NavigationManager navigationManager

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 text-center">
            <div class="card shadow-sm">
                <div class="card-body">
                    <img src="/images/access-denied.png" alt="logged out" class="img-fluid mb-3" style="max-height: 150px;" />
                    <h2 class="text-danger"Logged out</h2>
                    <p class="text-muted">You've successfully logged out.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    [CascadingParameter]
    public HttpContext HttpContext { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if(HttpContext.User.Identity.IsAuthenticated)
        {
            await HttpContext.SignOutAsync();
            navigationManager.NavigateTo("/logout");
        }
    }
}