@page "/userinfo"
@using System.Security.Claims

<h3>User Information</h3>

<AuthorizeView>
    <Authorized>
        <p>Name: @context.User.Identity?.Name</p>
        <p>Claims:</p>
        <ul>
            @foreach (var claim in context.User.Claims)
            {
                <li>@claim.Type: @claim.Value</li>
            }
        </ul>
    </Authorized>
    <NotAuthorized>
        <p>Not logged in</p>
    </NotAuthorized>
</AuthorizeView>